---
import { getDBInfo } from "../utils/asyncGetters";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const results = await getDBInfo("be4a562f25864a6c99b89b9baab56055");
console.log(results[2].properties.Genre);
---

<Layout title="Notion Dabble.">
  <main>
    <h1>Notion Dabble.</h1>
    <p>Testing out the Notion API.</p>
    <ul>
      {
        results.map((result) => (
          <Card
            emoji={result.emoji}
            image={result.image}
            rating={result.rating}
            title={result.title}
            url={result.url}
            user={result.user}
            genre={result.genre}
            color={result.color}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
