---
import { getDBInfo } from "../utils/asyncGetters";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const results = await getDBInfo("be4a562f25864a6c99b89b9baab56055");
---

<Layout title="Books">
  <main>
    <h1 class="text-xl text-blue-500 text-center mb-6">
      A list of books we have uncovered
    </h1>

    <ul>
      {
        results.map((result) => (
          <Card
            emoji={result.emoji}
            image={result.image}
            rating={result.rating}
            title={result.title}
            url={result.url}
            user={result.user}
            genre={result.genre}
            color={result.color}
            cover={result.cover}
            author={result.author}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
