---
import { getDBInfo } from "../utils/asyncGetters";
const results = await getDBInfo("be4a562f25864a6c99b89b9baab56055");
---

<h2 class="text-xl text-blue-500 text-center mb-6">
  A list of books we have uncovered
</h2>
<ul>
  {
    results.map((result) => (
      <div class="flex">
        <button
          class={`text-md text-left w-full mb-6 bg-state-100 hover:bg-blue-100 text-slate-900 rounded-md shadow-md border-black border-2 transition-all duration-200 ease-in-out hover:translate-x-0.5 hover:-translate-y-0.5`}
        >
          <a href={result.url}>
            <li class="py-4 px-4">
              <div class="pb-4">
                <p>{result.title}</p>
                <p class="text-xs text-slate-700">{result.author}</p>
              </div>
              <p class="text-sm text-slate-900 italic">{result.review}</p>
              <div class="flex justify-end items-end">
                <p class="text-sm mr-2">{result.emoji}</p>
                <p class="colorful text-xs text-slate-500">{result.genre}</p>
                <span class="grow" />
                <div class="flex flex-col  items-end">
                  <img
                    src={result.image}
                    alt={result.user}
                    class="w-8 rounded-full"
                  />
                  <p class="text-right text-xs text-slate-300">
                    {result.rating}
                  </p>
                  <p class="text-right text-xs text-slate-500">{result.user}</p>
                </div>
              </div>
            </li>
          </a>
        </button>
      </div>
    ))
  }
</ul>

<!-- <img
                  class="w-10 rounded-full text-xs pl-2"
                  src={result.image}
                  alt={result.user}
                /> -->
