---
export interface Props {
  url: string;
  emoji: string | undefined;
  title: string | undefined;
  rating: string | undefined;
  user: string | undefined | null;
  image: string | null | undefined;
  genre: string | null | undefined;
  color: string | null | undefined;
}

let { url, emoji, title, rating, user, image, genre, color } = Astro.props;

if (color === "yellow") {
  color = "rgb(22 101 52)";
}
---

<div
  class="mb-6 bg-state-100 hover:bg-slate-200 text-slate-900 rounded-md shadow-md border-black border-2 transition-all duration-200 ease-in-out hover:translate-x-0.5 hover:-translate-y-0.5"
>
  <li class="py-4 px-4">
    <button class="text-2xl">
      <a href={url}>
        {emoji}
        {title}
      </a>
    </button>
    <div class="flex justify-end items-end">
      <p class="colorful text-xs text-slate-500">
        {genre}
      </p>
      <span class="grow"></span>
      <div>
        <p class="text-right text-xs text-slate-300">
          {rating}
        </p>
        <p class="text-right text-xs text-slate-500">{user}</p>
      </div>
      <img class="w-10 rounded-full" src={image} alt={user} />
    </div>
  </li>
</div>
<style define:vars={{ color }}>
  .colorful {
    color: var(--color);
  }
</style>
